:root {
  /* ## Colors */

  /* ### Primary */

  --strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-cyan);
}

.container {
  margin-bottom: 32px;
  font-weight: 700;
}

.container input {
  font-size: 24px;
  font-weight: 700;
}

header {
  margin-bottom: 24px;
  padding-top: 48px;
  text-align: center;
}

main {
  padding-bottom: 24px;
  background-color: var(--white);
  border-radius: 18px 18px 0 0;
}

main .input-label {
  position: relative;
  color: var(--dark-grayish-cyan);
}

main .input {
  padding-right: 10px;
  width: 100%;
  text-align: right;
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 4px;
  background-color: var(--very-light-grayish-cyan);
}

main .input:focus {
  outline: 2px solid hsl(173, 61%, 77%);
}

.input-container {
  margin: 0 auto 32px auto;
  padding-top: 8px;
  width: 88%;
}

.input-container .bill-box,
.input-container .tip-box {
  margin-bottom: 32px;
}

.input-container .input-box {
  position: relative;
}

.input-label .message-active-state {
  position: absolute;
  top: 0.2rem;
  right: 0;
  color: #c67e72;
  font-size: 0.8rem;
  transition: all 300ms;
}

.input-box .icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tip-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: stretch;
  gap: 10px;
}

.tip-options .tip {
  width: 100%;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  background-color: var(--very-dark-cyan);
  transition: all 300ms;
}

.tip-options .tip.selected {
  color: var(--very-dark-cyan);
  background-color: hsl(173, 61%, 77%);
}

.tip-options .input {
  color: var(--dark-grayish-cyan);
}

.tip-options .input.selected-custom {
  color: var(--very-dark-cyan);
  outline: 2px solid hsl(173, 61%, 77%);
}

.results-container {
  margin: 0 auto;
  padding: 24px;
  width: 92%;
  color: var(--white);
  border-radius: 18px;
  background-color: var(--very-dark-cyan);
}

.results-container .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-box {
  font-weight: 700;
}

.label-box span {
  font-weight: lighter;
  color: var(--grayish-cyan);
}

#tipamount-value,
#total-value {
  font-size: 28px;
  color: var(--strong-cyan);
}

.results-container .reset-btn {
  margin-top: 40px;
  padding: 6px 0;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  background-color: var(--strong-cyan);
  border-radius: 4px;
  transition: all 300ms;
}

.results-container .reset-btn:focus,
.results-container .reset-btn:hover {
  background-color: hsl(173, 61%, 77%);
}

.attribution {
  margin: 16px 0;
  font-size: 16px;
  text-align: center;
  color: var(--dark-grayish-cyan);
}

.a-link {
  color: var(--very-dark-cyan);
}

.a-link-text {
  position: relative;
  padding: 4px 8px;
}

.a-link-text::before {
  content: attr(text-value);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transform: rotate(2deg);
  transition: all 300ms;
}

.a-link:hover .a-link-text::before,
.a-link:focus .a-link-text::before {
  background-color: var(--very-dark-cyan);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: rotate(-2deg);
}

@media (min-width: 1024px) {
  main {
    margin: 0 auto;
    padding: 24px;
    width: 60%;
    display: flex;
    align-items: stretch;
    gap: 30px;
    border-radius: 18px;
  }

  .input-container {
    width: 54%;
    margin-bottom: 24px;
  }

  .input-label .message-active-state {
    top: 0;
    font-size: 1rem;
  }

  .tip-options {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .tip-options .tip:hover {
    color: var(--very-dark-cyan);
    background-color: hsl(173, 61%, 77%);
  }

  .results-container {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
